@model IEnumerable<FlowerShop.Models.FlowerBouquet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bouquet.BouquetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flower.FlowerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bouquet.BouquetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flower.FlowerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FlowerBouquetID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FlowerBouquetID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FlowerBouquetID })
            </td>
        </tr>
    }

</table>
